@model Product
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 centered-form">
            <h2 class="text-center text-white">Редактирование продукта</h2>
            <form class="text-white" asp-controller="Product" asp-action="UpdateProduct">
                <div class="form-group">
                    <label for="login">Артикул</label>
                    <input type="text" class="form-control" asp-for="ArticleProduct" name="ArticleProduct" id="login" disabled>
                    <input type="text" class="form-control" asp-for="ArticleProduct" name="ArticleProduct" id="login" hidden>
                </div>
                <div class="form-group">
                    <label for="password">Название продукта</label>
                    <input type="text" class="form-control" asp-for="NameProduct" name="NameProduct" id="password" placeholder="Ввод названия">
                </div>
                <div class="form-group ">
                    <label class="text-white" for="name">Описание продукта</label>
                    <input type="text" class="form-control" asp-for="DesriptionProduct" name="DesriptionProduct" id="name" placeholder="Ввод описания">
                </div>

                <div class="form-group ">
                    <label class="text-white" for="Category">Категория продукта</label>
                    @Html.DropDownList("Category", ViewBag.CategoryList as SelectList, new { @class = "form-control" })
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="text-white" for="Manufacture">Производитель</label>
                    @Html.DropDownList("Manufacture", ViewBag.ManufactureList as SelectList, new { @class = "form-control" })
                    <span asp-validation-for="Manufacture" class="text-danger"></span>
                </div>

                <div class="form-group ">
                    <label class="text-white" for="name">Цена</label>
                    <input type="text" class="form-control" asp-for="CostProduct" name="CostProduct" id="price" placeholder="Введите цену" data-validate="numeric">
                </div>

                <div class="form-group ">
                    <label class="text-white" for="name">Размер скидки</label>
                    <input type="text" class="form-control" asp-for="DiscountProduct" name="DiscountProduct" id="quantity" placeholder="Введите количество на складе" data-validate="numeric">
                </div>

                <div class="form-group ">
                    <label class="text-white" for="name">Кол-во на складе</label>
                    <input type="text" class="form-control" asp-for="CountInStockProduct" name="CountInStockProduct" id="count" placeholder="Введите количество на складе" data-validate="numeric">
                </div>

                <button type="submit" class="btn btn-primary btn-block mt-3">Изменить</button>
            </form>
            <form class="text-white" asp-controller="Product" asp-action="DeleteProduct">
                <input type="text" class="form-control" asp-for="ArticleProduct" name="ArticleProduct" id="login" hidden>
                <button type="submit" class="btn btn-outline-danger btn-block mt-3">Удалить</button>
            </form>
        </div>
    </div>
</div>

@if (TempData["DangerMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["DangerMessage"]
    </div>
}

<script>
    // Получаем все элементы input, для которых нужна валидация
    var inputElements = document.querySelectorAll('input[type="text"][data-validate="numeric"]');

    // Добавляем обработчик события на ввод текста для каждого поля
    inputElements.forEach(function (inputElement) {
        inputElement.addEventListener('input', function () {
            // Удаляем все символы, кроме цифр и точки
            this.value = this.value.replace(/[^0-9.]/g, '');

            // Если введена более одной точки, оставляем только первую
            if (this.value.split('.').length > 2) {
                this.value = this.value.replace(/\.+$/, '');
            }
        });
    });
</script>
